/* * {
  margin: 0;
  padding: 0;
  background-color: rgb(182, 182, 182);
} */

@font-face {
  font-family: 'Lato';
    src: url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  }
  
  @font-face {
  font-family: 'Playfair Display';
  src: url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
       url('fonts/playfairdisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
  
  .heading-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .heading {
    color: #8D6406;
    font-family: 'Playfair Display';
    margin: 0;
    padding: 0 5%;
    text-align: center;
    white-space: nowrap;
  }
  
  .bar {
    width: 250px;
    height: 4px;
    background-color: #8D6406;
    position: relative;
  }
  
  .bar1 {
    left: 0%;
  }
  
  .bar2 {
    right: 0%;
  }
  
  .bar1::after,
  .bar2::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #8D6406;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .bar1::after {
    right: -6px;
  }
  
  .bar2::after {
    left: -6px;
  }
  
  .title {
    font-family: 'Playfair Display';
    color: #8D6406;
    text-align: center;
  }
  
  .middle-text {
    padding: 5% 8% 0 8%;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #666;
  }
  
  .main-container {
    display: flex;
    align-items: flex-start;
  }
  
  .button-bg-container {
    position: relative;
    display: flex;
    margin-bottom: 5%;
  }
  
  .tab-bg {
    width: 90%;
    margin-top: 60px;
    position: relative;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
    align-items: flex-start;
  }
  
  .description {
    max-width: 600px;
  }
  
  .description p,
  .description ul {
      color: #666;
      font-family: "Lato";
      flex: 1;
  }
  
  
  .description ul {
    list-style-type: disc;
    padding-left: 10%;
  }
  
  .description li {
    margin-bottom: 10px;
  }
  
  .toggler {
    background-color: rgb(255, 253, 250);
    border-radius: 3px;
    left: 90%;
  }
  
  .navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .navbar-nav {
    z-index: 2;
    display: flex;
    gap: 15px;
    transition: 0.5s;
  }
  
  .navbar-collapse {
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .navbar-toggler {
    margin-left: auto;
  }
  
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9% 5%;
    border: 2px solid #8D6406;
    border-radius: 50px;
    color: #8D6406;
    cursor: pointer;
    text-align: center;
    margin: 2% 0;
    font-family: "Lato", sans-serif;
    background-color: rgb(255, 253, 250);
  }
  
  @media (max-width: 600px) {
    .content {
      flex-direction: column;
      align-items: center;
    }
  
    .tab-bg {
      display: none;
    }
  
    .main-image {
      width: 80%;
      margin-bottom: 20px;
    }
  
    .main-content {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .navbar {
      justify-content: center;
      width: 100%;
      margin-left: 5%;
    }
  
    .navbar-nav {
      flex-direction: row;
      margin-left: 0;
      margin-top: 0;
      flex-wrap: nowrap; /* wrap */
      justify-content: flex-start;
      gap: 3px;
    }
  
    .navbar-nav .nav-item {
      flex: 1;
      text-align: center;
    }
  
    .navbar-collapse {
      display: flex;
      justify-content: center; 
    }
  
    .heading-container {
      display: flex;
      align-items: center;
      position: relative;
      top: 20px;
    }
  
    .heading {
      color: #8D6406;
      font-family: 'Playfair Display';
      margin: 0;
      text-align: center;
      white-space: nowrap;
      font-size: 22px;
    }
  
    .middle-text {
      padding: 7% 6% 0 6%;
      text-align: center;
      font-size: 16px;
      font-family: "Lato", sans-serif;
      color: #666;
    }
  
    .title {
      font-family: 'Playfair Display';
      font-size: 35px;
      color: #8D6406;
      text-align: center;
    }
  
    .nav-item {
      padding: 5% 3%;
      height: 30px;
      font-size: 13px;
  }
  
    .description {
      max-width: 400px;
    }
  
    .description p,
    .description ul {
        font-size: 18px;
        color: #666;
        font-family: "Lato";
        flex: 1;
    }
  
    .description p {
      margin-top: 2%;
    }
  
    .description ul {
      list-style-type: disc;
    }
  
    .description li {
      margin-bottom: 10px;
      font-size: 18px;
    }
  
    .main-container {
      flex-direction: column;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1000px) {
    .main-image {
      width: 45%;
      height: 60%;
      margin-left: 5%;
    }
  
    .tab-bg {
      display: none;
    }
  
    .navbar {
      justify-content: center;
      width: 50%;
    }
  
    .navbar-nav {
      flex-direction: row;
      gap: 5px; 
      justify-content: flex-start; /* center */
      flex-wrap: nowrap; /* wrap */
    } 
  
    .navbar-nav .nav-item {
      flex: 1;
      text-align: center;
    }
  
    .navbar-collapse {
      display: flex;
      justify-content: center; 
      flex-wrap: wrap;
    } 
  
    .heading-container {
      display: flex;
      align-items: center;
      position: relative;
      top: 20px;
    }
  
    .heading {
      color: #8D6406;
      font-family: 'Playfair Display';
      margin: 0;
      padding: 0 5%;
      text-align: center;
      white-space: nowrap;
      font-size: 30px;
    }
  
    .middle-text {
      padding: 5% 8% 0 8%;
      text-align: center;
      font-size: 18px;
      font-family: "Lato", sans-serif;
      color: #666;
    }
  
    .title {
      font-family: 'Playfair Display';
      font-size: 35px;
      color: #8D6406;
      text-align: center;
      margin: 0 0 2%;
    }
  
  .nav-item {
      padding: 5% 3%;
      width: auto;
      height: 70px;
      font-size: 15px;
      margin: 2% 0;
      font-size:12px;
  }
  
    .description {
      max-width: 400px;
      margin-left: 3%;
      margin: 0 3% 0 3%
    }
  
    .description p,
    .description ul {
        font-size: 18px;
        color: #666;
        font-family: "Lato";
        flex: 1;
    }
  
    .description ul {
      list-style-type: disc;
    }
  
    .description li {
      margin-bottom: 10px;
      font-size: 18px;
    }
  
    .main-container {
      flex-direction: column;
    }
  }
  
  @media (min-width: 1001px) and (max-width: 1440px) {
    .heading-container {
      top: 30px;
    }
  
    .heading {
      font-size: 38px;
    }
  
    .middle-text {
      padding: 5% 8% 0 8%;
      font-size: 20px;
    }
  
    .title {
      font-size: 45px;
      margin: 15% 0 3%;
    }
  
    .main-image {
      width: 50%;
      height: 65%;
      margin-left: 7%;
    }
  
    .description p,
  .description ul {
      font-size: 21px;
  }
  
  .description p {
    margin: 4% 15% 5% 7%;
  }
  
  .description ul {
      padding-left: 10%;
  }
  
  .description li {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .navbar-nav {
    flex-direction: row;
    gap: 18px;
    margin-left: -199px; 
    margin-top: 110px;
  }
  
  .nav-item {
    padding: 9% 5%;
    height: 90px;
    font-size: 17px;
    margin: 2% 0;
    width: 110%;
    font-size: 20px;
  }
  }